<div class="container-fluid">
	<div class="row">
	</div>
</div>

<div class="container-fluid" id="index-events">
	<div class="row">

			<% a = 1 %>
			<% @events.each do |event|  %>
			<% i = a % 40 %>
			<%= link_to event_path(event) do %>
				<div class="col-xs-3 cntr" style="background-image: url('images/<%= i %>-poster.jpg'); height: 200px; background-size: cover; background-repeat: none; width: 25%; opacity: 0.8;">
					<div class="event">
						<p><%=	event.title %></p>
						<p><%=	event.host.first_name %> <%=	event.host.last_name %></p>
						<p>Starting: <%=	event.start_date %></p>
						<p>Ending: <%=	event.end_date %></p>
					</div>
				</div>
			<% end %>
			<% a += 1 %>
			<% end %>

	</div>
</div>